.fondo {
    background-color: white(255, 236, 236);
    text-align: center;
}

body{
 padding: 0%;
}

.caja-mercedes{
    margin-right: 30px;
    margin-left: 30px;
}

.caja-redbull{
    margin-right: 30px;
    margin-left: 30px;
}

.caja-ferrari{
    margin-right: 30px;
    margin-left: 30px;
}
.caja-mclaren{
    margin-right: 30px;
    margin-left: 30px;
}
.caja-alfaromeo{
    margin-right: 30px;
    margin-left: 30px;
}
.caja-astonmartin{
    margin-right: 30px;
    margin-left: 30px;
}
.caja-alpine{
    margin-right: 30px;
    margin-left: 30px;
}
.caja-alphatauri{
    margin-right: 30px;
    margin-left: 30px;
}
.caja-williams{
    margin-right: 30px;
    margin-left: 30px;
}



.Comprar-por-equipos{
    padding-top: 15em;
    padding-bottom: 1%;
    text-align: right 39%;
    font-style: oblique;
    font: oblique bold 120% cursive;
}


.caja-equipos {
    border: 0.2em solid white;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: white;
    text-align: 1em;
    padding: 1em;
    
}

.caja-equipos ul {
    display: flex;
    align-items: center;
justify-content: center;
}

.caja-equipos li { 
    display: inline-block; text-decoration:  none;
}
.end-of-season li {
    display: inline-block; text-decoration:  none;
}

.end-of-season{
    position: relative;
    height: auto;        
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
    right: 25px;

}

.texto-popular{
    position: relative;
    font-size: 3em;
    padding-bottom: 3%;
    right: 390px;
    font-weight: bold;
}

.texto-departamento{
    position: relative;
    font-size: 3em;
    padding-bottom: 3%;
    right: 390px;
    font-weight: bold;
}


.texto-mercedes{
    font-size: 3em;
    font-style:oblique;
    padding-bottom: 3%;
    padding-top: 5%;
    color:#201f1f;
}

.letra-mercedes{
    font-size: 50%;
    color: #201f1f;
    text-shadow: 5px 6px 4px #201f1f;
}

.texto-redbull{
    font-size: 3em;
    font-style:oblique;
    padding-bottom: 3%;
    padding-top: 5%;
    color:#005cb3;
}

.letra-redbull{
    font-size: 50%;
    color: #005cb3;
    text-shadow: 5px 6px 4px #005cb3;
}

.Popular-publicidad{
    position: relative;
    height: auto;        
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
    right: 25px;
}

.Popular-publicidad li {
    display: inline-block;text-decoration: none;
    font-family: "Open Sans",sans-serif;
}

.Ultimo-publicidad {
    position: relative;
    display: grid;
    grid-template-columns: 0fr 0fr;
    margin: 0px;
    padding: 0px;
}

.Ultimo-publicidad-2 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Ultimo-publicidad li {
    display: inline-block; text-decoration:  none;
    margin-left: 0;
    margin-right: 0;
}

.Ultimo-publicidad-2 li {
    display: inline-block; text-decoration:  none;
}

.imagen {
    
}

.logos {
    width: 5em;
}

.foto-end-of-season {
    width: 1303x;
}

.gorros {
    width: 1303px;
}
