.fondo {
    background-color: rgb(255, 236, 236);
    text-align: center;
    border-color: white;
    border: 3em solid rgb(151, 2, 2);
}

body{
    margin: 0em;
    padding: 0em;
    background-color: #ff0000;
}

.titulo {
    background-color: white;
    padding-bottom: 10%;
    padding-top: 7%;
}
.letratitulo{
    font-size: 400%;
}

.Comprar-por-equipos{
    padding-top: 15em;
    padding-bottom: 1%;
    margin-right: 39%;
    font-style: oblique;
}
.letraequipos{
    font-size: 3em;
    color: #990505;
}

.caja-equipos {
    border: 0.2em solid white;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: white;
    margin: 1em;
    padding: 1em;
    
}

.caja-equipos ul {
    display: flex;
    align-items: center;
justify-content: center;
}

.caja-equipos li { 
    display: inline-block; text-decoration:  none;
}
.vegas-publicidad li {
    display: inline-block; text-decoration:  none;
}

.texto-vegas{
    margin-right: 39%;
    font-size: 3em;
    font-style:oblique;
    padding-bottom: 3%;
    padding-top: 7%;
    color:#975d06;
}

.texto-aston{
    font-size: 3em;
    font-style:oblique;
    padding-bottom: 3%;
    padding-top: 7%;
    color:#147900;
    margin-top: 0.2%;
}

.letraaston{
    font-size: 108%;
    color: #147900;
}

.texto-mclaren{
    font-size: 3em;
    font-style:oblique;
    padding-bottom: 3%;
    padding-top: 5%;
    color:#f78e05;
}

.letra-mclaren{
    font-size: 50%;
    color: #cf8e00;
}

.texto-f1{
    font-size: 3em;
    font-style:oblique;
    padding-bottom: 3%;
    padding-top: 5%;
    color:#990505;
}

.letra-f1{
    font-size: 50%;
    color: #990505;
}

.texto-mercedes{
    font-size: 3em;
    font-style:oblique;
    padding-bottom: 3%;
    padding-top: 5%;
    color:#201f1f;
}

.letra-mercedes{
    font-size: 50%;
    color: #201f1f;
}

.texto-redbull{
    font-size: 3em;
    font-style:oblique;
    padding-bottom: 3%;
    padding-top: 5%;
    color:#005cb3;
}

.letra-redbull{
    font-size: 50%;
    color: #005cb3;
}



.Popular-publicidad li {
    display: inline-block;text-decoration: none;
    border: 2% #000000;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #000000;
    margin: 1em;
    padding: 1em;
}

.Ultimo-publicidad {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Ultimo-publicidad-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Ultimo-publicidad li {
    display: inline-block; text-decoration:  none;
}

.Ultimo-publicidad-2 li {
    display: inline-block; text-decoration:  none;
}

.logos {
    width: 5em;
}

.espacio-logos{
    width: 5em;
}
.vegas {
    width: 90em;
}

.camiseta {
    width: 40em;
}
